<!-- @if TARGET!='sitecore' -->
<link href="styles/campaign.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/campaign.js" ></script>
<!-- @endif -->
<!-- @if TARGET='sitecore' -->
	<!-- @ifdef CSS_CAMPAIGN -->
<style type="text/css">
<!-- @echo CSS_CAMPAIGN -->
</style>
	<!-- @endif -->
	<!-- @ifdef JS_CAMPAIGN -->
<script type="text/javascript">
<!-- @echo JS_CAMPAIGN -->
</script>
	<!-- @endif -->
<!-- @endif -->
<!-- @if false !>-----DO NO EDIT ABOVE THIS LINE-----<!-- @endif -->