<!-- @if TARGET!='sitecore' -->
<link href="styles/hero.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/hero.js" ></script>
<!-- @endif -->
<!-- @if TARGET='sitecore' -->
	<!-- @ifdef CSS_HERO -->
<style type="text/css">
<!-- @echo CSS_HERO -->
</style>
	<!-- @endif -->
	<!-- @ifdef JS_HERO -->
<script type="text/javascript">
<!-- @echo JS_HERO -->
</script>
	<!-- @endif -->
<!-- @endif -->
<!-- @if false !>-----DO NO EDIT ABOVE THIS LINE-----<!-- @endif -->