<!DOCTYPE html>
<!--[if lt IE 7]>	<html class="no-js ie ie6 lte7 lte8 lte9" lang="en"> <![endif]-->
<!--[if IE 7]>		<html class="no-js ie ie7 lte7 lte8 lte9" lang="en"> <![endif]-->
<!--[if IE 8]>		<html class="no-js ie ie8 lte8 lte9" lang="en"> <![endif]-->
<!--[if IE 9]>		<html class="no-js ie ie9 lte9" lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head id="head">

	<title>Campaign Template | HBF</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta charset="UTF-8">

	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no'>
	<meta name='msapplication-tap-highlight' content='no' />

	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/jquery.js" ></script>
	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/modernizr.js"></script>
	<link href="//f.fontdeck.com/s/css/o/TNKbvrAgkZFEHVsGXusWpY31Lzg/stage.hbfstage.tundra.com.au/36114.css" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,700" rel="stylesheet" type="text/css" />
	<link href="global/hbf-build/css/mobile.css" rel="stylesheet" type="text/css" />

	<!--[if lte IE 9 ]>
		<script type="text/javascript">var console = console || {log:function(){}, warn:function(){},error:function(){}};</script>
	<![endif]-->

	<!--[if lte IE 8 ]>
		<script type="text/javascript">if(typeof JSON!=='undefined')JSON.stringify=JSON.parse=null</script>
		<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/json2.js" ></script>
	<![endif]-->

	
	<script type="text/javascript">
		window.hbf = typeof(window.hbf) !== 'undefined' ? window.hbf : {};
		window.hbf.versionQuery = 'v=1.0.9.133';
		window.hbf.mobileDevice = true;
		window.hbf.sitecorePreviewMode = false;
		window.hbf.debugMode = false;
		window.hbf.themePath = '/global/hbf-build';
		window.hbf.angularModules = [];
		window.hbf.quoting = {};
	</script>

	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/jquery.js" ></script>
	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/angular.js" ></script>
	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/require.js"  data-main="global/hbf-build/scripts/main-desktop.js"></script>
	
	<script type="text/javascript" src="global/hbf-build/scripts/utils/load-script-sync.js" ></script>
	<script type="text/javascript" src="global/hbf-build/scripts/utils/module-activator.js" ></script>

</head>

<body ng-app="HBFApp" id="ng-app" class="campaign-landing campaign-teal mobile">

	<form method="post" action="/campaigns?sc_device=Mobile" id="form">

		<header class="main-header campaign-header">

			<div class="header-content clearfix">
				<a class="back-home">
					<span>Back to HBF</span>
				</a>
				<a class="logo">HBF logo</a>
				<a href="tel:133423" class="telephone">133 423</a>
			</div>
		</header>

		<!--[if lte IE 8]> <script>window.hbf.loadScriptSync("thirdparty/respond");</script> <![endif]-->
		<section class="body" role="main" style="background:white !important">
			
			<div role="banner" class="hero-banner">
				<div class="component component-html">
					<link href="styles/hero.css" rel="stylesheet" type="text/css" />
					<script type="text/javascript" src="scripts/hero.js" ></script>
					
					
					<div class="container">
						<div class="container-inner">
					
							<h3>Corporate members<br>
									save up to 23% on<br>
									HBF car insurance
							</h3>
					
						</div>
					</div>
					
				</div>
			</div>
				
			<div class="component component-html">
				<link href="styles/campaign.css" rel="stylesheet" type="text/css" />
				<script type="text/javascript" src="scripts/campaign.js" ></script>
				
				
				<div class="campaign-body">
				
					<div class="campaign-body-inner">
				
						<div class="campaign-content">
				
							<div class="contact-us-form" data-module="components/SelectBoxes" ng-controller="BasicFormControl" ng-form="" name="emailUsForm" ng-init="submitUrl='/Services/ContactUsApi.svc/Submit';data.formId='{A12CF104-BDFC-489A-AAB1-672B47902D5E}';data.subject= 'General';data.wantCall='yes';scrollTop=true;">
				
								<div class="contact-us-form__fields" ng-hide="submitSuccess">
				
									<h2>Hi <span data-fname></span>, let's get started!</h2>
				
									<p>Fill in your details below and your HBF corporate account manager will call you within the next 48 hours to organise your quote for this exclusive corporate member offer.</p>
				
									<div class="hidden-inputs">
				
										<input type="text" name="fname" ng-model="data.fname" ng-required="1">
										<input type="text" name="lname" ng-model="data.lname" ng-required="1">
										<input name="name" type="text" ng-model="data.name" value="" ng-required="1">
										<input type="email" name="email" ng-model="data.email">
										<input type="text" name="category" ng-model="data.category" ng-required="1">
										<input type="text" name="memberNumber" ng-model="data.memberNumber" maxlength="8" ng-pattern="/^[0-9]{8}$/">
										<textarea style="height:120px;" name="message" ng-model="data.message"></textarea>
				
									</div>
				
									<div class="field-row">
				
										<div class="field-contact-number" style="">
											<label class="field-title">Contact Number *</label>
											<input type="text" name="contactNumber" ng-required="1" ng-model="data.contactNumber" ng-pattern="/^[0-9]+$/" class="ng-valid-pattern ng-dirty ng-invalid ng-invalid-required" required="required">
											<div class="field-error" ng-show="submitClicked &amp;&amp; emailUsForm.contactNumber.$error.required" style="display: none;">Please enter your contact number</div>
											<div class="field-error" ng-show="submitClicked &amp;&amp; emailUsForm.contactNumber.$error.pattern" style="display: none;">Must be a valid number</div>
										</div>
				
										<div class="field-best-time" ng-cloak="">
											<label class="field-title">Best time to call *</label>
											<label>
												<input type="radio" name="bestTime" ng-model="data.bestTime" value="AM" ng-required="1">AM (8am - 12pm)</label>
											<label>
												<input type="radio" name="bestTime" ng-model="data.bestTime" value="PM" ng-required="1">PM (12pm - 6pm)</label>
											<div class="field-error" ng-show="submitClicked && emailUsForm.bestTime.$error.required">Please select the best time to call</div>
										</div>
				
									</div>
				
								</div>
				
								<div class="" ng-show="submitFail">
									<span class="field-error">An error has occurred on the server is currently unable to send your message. Please try again later.</span>
								</div>
				
								<div class="" ng-show="submitClicked && emailUsForm.$invalid">
									<span class="field-error">One or more fields are invalid, please fix before submitting</span>
								</div>
				
								<div class="submit-row" ng-cloak="" ng-hide="submitSuccess">
				
									<button type="submit" class="btn btn-medium btn-default btn-campaign-green submit" ng-disabled="sending">
										<span>Submit</span>
									</button>
				
									<span ng-show="sending" class="inline-block">
										<img src="/global/hbf-build/images/small-hbf-loader-blue-40px.gif?v=1.0.4.142" alt="Loading..." title="Loading...">
									</span>
				
									<p class="terms">*Required</p>
				
								</div>
				
								<div class="" ng-show="submitSuccess">
									<h2>Thanks for your enquiry, we'll be in touch soon</h2>
									<p>We've passed your quote request onto your HBF Corporate Account Manager,<br>who will give you a call within the next two days.</p>
								</div>
				
							</div>
				
						</div>
				
						<script type="text/javascript">
						function getURLParameter(sParam) {
							var sPageURL = window.location.search.substring(1);
							var sURLVariables = sPageURL.split('&');
							for (var i = 0; i < sURLVariables.length; i++) {
								var sParameterName = sURLVariables[i].split('=');
								if (sParameterName[0] == sParam) {
									return decodeURIComponent(sParameterName[1]);
								}
							}
						}
				
						$(document).on('ready', function() {
							var fname = getURLParameter('fname') || '',
								lname = getURLParameter('lname') || '';
				
							$('[data-fname]').text(fname.charAt(0).toUpperCase() + fname.substring(1));
				
							// Populate fields from email
							$('input[name="fname"]').val(fname);
							$('input[name="lname"]').val(lname);
							$('input[name="category"]').val(getURLParameter('company'));
							$('input[name="email"]').val(getURLParameter('email'));
							$('input[name="memberNumber"]').val(getURLParameter('member'));
							$('input[name="contactNumber"]').val(getURLParameter('phone'));
				
							// Trigger input event to update Angular model
							$('input[name="fname"]').trigger('input');
							$('input[name="lname"]').trigger('input');
							$('input[name="category"]').trigger('input');
							$('input[name="email"]').trigger('input');
							$('input[name="memberNumber"]').trigger('input');
							$('input[name="contactNumber"]').trigger('input');
				
							// Concatenate/last names into name field
							$('input[name="fname"], input[name="lname"]').on('keyup', function() {
								fname = $('input[name="fname"]').val() || '';
								lname = $('input[name="lname"]').val() || '';
								$('input[name="name"]').val(fname + "/" + lname);
							}).trigger('keyup');
						});
						</script>
				
					</div>
				
				</div>
				
				</div>
				
			</div>

		</section>
		<!-- /.body -->

		<footer class="main-footer clear">

			<div class="container" data-module="" data-cols-class=".column">
				<nav class="footer-navigation" role="navigation">
					<ul class="level-1">
						<li class="column first">
							<h4>About HBF</h4>
							<ul class="level-2">
								<li class="first"><a href="/about-hbf/learn-more-about-hbf">About HBF</a>
								</li>
								<li><a href="/about-hbf/careers">Careers</a>
								</li>
								<li><a href="/about-hbf/corporate-health-plans">Corporate health plans</a>
								</li>
								<li><a href="/current-offers">Current offers</a>
								</li>
								<li><a href="/about-hbf/for-providers">Just for providers</a>
								</li>
								<li class="last"><a href="/about-hbf/media">Media</a>
								</li>
							</ul>
						</li>
						<li class="column">
							<h4>Contact</h4>
							<ul class="level-2">
								<li class="first"><a href="/contact-us/general-enquiries">Email us</a>
								</li>
								<li><a href="/contact-us/get-in-touch">Media enquiries</a>
								</li>
								<li><a href="/about-hbf/opinion-panel">Opinion Panel</a>
								</li>
								<li class="last"><a href="/contact-us/find-a-branch">Visit us</a>
								</li>
							</ul>
						</li>
						<li class="column">
							<h4>Legal</h4>
							<ul class="level-2">
								<li class="first"><a href="/about-hbf/legal/fraud-awareness">Fraud awareness</a>
								</li>
								<li><a href="/about-hbf/legal/hi-code-of-conduct">HI Code of Conduct</a>
								</li>
								<li><a href="/about-hbf/legal/privacy-policy">Privacy</a>
								</li>
								<li class="last"><a href="/about-hbf/legal/terms-of-use">Terms of Use</a>
								</li>
							</ul>
						</li>
						<li class="column last">
							<h4>Search</h4>
							<ul class="level-2">
								<li class="first"><a href="/contact-us/find-a-branch">Find a branch</a>
								</li>
								<li><a href="/health-insurance/find-a-provider">Find a provider</a>
								</li>
								<li><a href="/search">Site search</a>
								</li>
								<li class="last"><a href="/sitemap">Sitemap</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>


			<div class="footer-social">
				<nav class="container">
					<ul>
						<li>
							<a href="https://www.facebook.com/HBFWA" target="_blank" class="facebook">
								<span>Join us on Facebook</span>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/HBF_WA" target="_blank" class="twitter">
								<span>Visit us on Twitter</span>
							</a>
						</li>
						<li>
							<a href="http://instagram.com/hbf_health" target="_blank" class="instagram">
								<span>Instagram photos</span>
							</a>
						</li>
						<li>
							<a href="http://www.youtube.com/user/HBFPerth" target="_blank" class="youtube">
								<span>YouTube channel</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>


			<div class="disclaimer">
				<div class="container">

					<h6>Terms and Conditions</h6>
					<div class="disclaimer-custom">
						<p>
						</p>
					</div>
					<div class="disclaimer-global">
						<p></p>
					</div>

					<div class="copyright">
						<p>Our website has been designed to make selecting and using private health insurance clear and simple, <a href="http://survey.wcfs.com.au/hbf_customer_experience_h_V2/hbf_customer_experienceh.htm">let us know</a> how we can keep improving what we do.
							<br />&copy;2013 Copyright HBF Health Limited Australia ABN 11 126 884 786 and its subsidiaries.</p>
					</div>
				</div>
			</div>
			<!-- /.disclaimer -->


			<div class="links">

				<a class="view-full-website" href="/campaigns/car-insurance-low-km?sc_device=Desktop&persist=true">View Full Website</a>

				<a href="#" class="btn btn-default back-to-top">Back to top</a>
			</div>

		</footer>
		<!-- /.main-footer -->

		<!-- <script type="text/javascript">hbf.loadScriptSync('angular/hbf-concatenated');</script> -->
		<script type="text/javascript" src="global/hbf-build/scripts/angular/hbf-concatenated.js" >

	</form>

	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>

</html>