$white:			#ffffff;
$white-dark:	#f2f2f2;
$white-light:	#f8f8f8;

$blue:			#003959;

$teal-dark:		#00acb8;
$teal-light: 	#86d8dc;

$gold-dark: 	#ffa321;
$gold-light: 	#fcce74;

$green-dark: 	#75b92e;
$green-light: 	#c0de8c;

$red-dark: 		#e34c3f;
$red-light: 	#e7b7a8;

$purple-dark: 	#8448ab;
$purple-light: 	#c6b5e0;

$grey-dark:		#2d2d2d;
$grey-light:	#858585;
$grey-lighter:	#dbdbdb;


$campaign:		"green";
$primary:		$green-light;
$secondary:		$green-light;
