$edit-frame: false;

@import "colours";

%font-regular {
	font-family: "FS Me Web Regular", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

%font-light {
	font-family: "FS Me Web Light", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

%font-bold {
	font-family: "FS Me Web bold", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

@mixin mobile {
	.mobile & {
		@content;
	}
}

@mixin retina($media: all) {
	@media
		only #{$media} and (min--moz-device-pixel-ratio: 1.5),
		only #{$media} and (-o-min-device-pixel-ratio: 3/2),
		only #{$media} and (-webkit-min-device-pixel-ratio: 1.5),
		only #{$media} and (min-device-pixel-ratio: 1.5),
		only #{$media} and (min-resolution: 1.5dppx) {
		    @content;
	}
}
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
