@import "settings";

.campaign-body {

	background-color: $white-dark;
	padding: 40px 0;

	@include mobile {
		padding: 0 0;
	}

	.campaign-body-inner {
		width: 960px;
		overflow: hidden;
		margin: 0 auto;

		@include mobile {
			width: 100%;
		}
	}

	.campaign-content {
		margin: 0 10px;
		max-width: 780px;

		h2 {
			@extend %font-regular;
		}

		p {
			color: $blue;
		}

		.btn {
			margin-bottom: 15px;
		}

		.terms {
			font-size: 14px;
			margin-bottom: 0;
			color: #707070;

			@include mobile {
				font-size: 12px;
			}
		}

		@include mobile {
			margin: 20px;
		}

	}


	.contact-us-form {
		label.field-title {
			display: block;
			margin-bottom: 10px;
			font-size: 16px;
			color: $grey-dark;
		}

		label{
			font-size: 14px;
		}
	}

	.contact-us-form__fields {
		margin-top: 0px;
		margin-bottom: 30px;

		.field-row input[type="text"]{

			width:218px;
		}
	}

	.field-row {
		border: none;
		padding: 0;
		width: 100%;
		margin-top: 8px;

		@include mobile {
			padding: 0 10px;
		}


		& > div {
			float: left;
			width: 50%;
			@include mobile {
				width: 100%;
				float: none;
			}
		}
	}

	.field-best-time {
		@include mobile {
			margin-top: 30px;
		}
	}

	.hidden-inputs {
		height: 0;
		overflow: hidden;
	}

	.submit-row {
		margin: 10px auto 0;
	}

}
