@import "settings";

.hero-banner {

	position: relative;
	height:240px;
	overflow: hidden;
	background: {
		position: center top;
		repeat: no-repeat;
		color: $white;
		image: url('/images/hero.jpg') !important;
	}
	color: $white;

	@include mobile {
		min-height: 225px;
		height: auto;
		background: {
			size: cover;
			image: url('/images/hero_mobile.jpg') !important;
		}
	}

	.cm-win {
		position: absolute;
		top: 0;
		right: 0;
		background: {
			repeat: no-repeat;
			image: url("/images/win.png");
		}
	}

	.container {
		margin: 30px 0 0 0;
		padding: 0 10px;
		width: auto;

		@include mobile {
			width: auto;
			padding: 40px 20px;
			margin: 0;
		}
	}

	.container-inner {
		width: 940px;
		margin: 0 auto;
		position: relative;

		@include mobile {
			width: auto;
		}
	}

	h1 {
		@extend %font-bold;
		color: inherit;

		font-size: 36px;
		line-height: 1.2em;

		margin-bottom: 10px;
		width: 350px;

		@include mobile {
			width: 80%;
			font-size: 24px;
			margin-bottom: 10px;
		}
	}

	h2 {
		@extend %font-regular;

		color: inherit;
		font-size: 20px;
		line-height: 1.4em;

		margin-bottom: 0px;
		width: 350px;

		@include mobile {
			width: 80%;
			font-size: 16px;
		}
	}

	h3 {
		@extend %font-light;
		color: $green-dark;
		font-size:40px;
		line-height: 45px;
		margin-top: 25px;

		@include mobile {
			font-size: 23px;
			line-height: 30px;
			margin-top: 0px;


		}

	}

	sup {
		font-size: 13px;
		position: relative;
		vertical-align: baseline;
		@extend %font-light;
	}

	.terms {
		color: $white;
		font-size: 12px;
		margin-top: 5px;
		display: inline-block;
	}


}
