.campaign-body .campaign-content h2 {
  font-family: "FS Me Web Regular", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal; }

.campaign-body {
  background-color: #f2f2f2;
  padding: 40px 0; }
  .mobile .campaign-body {
    padding: 0 0; }
  .campaign-body .campaign-body-inner {
    width: 960px;
    overflow: hidden;
    margin: 0 auto; }
    .mobile .campaign-body .campaign-body-inner {
      width: 100%; }
  .campaign-body .campaign-content {
    margin: 0 10px;
    max-width: 780px; }
    .campaign-body .campaign-content p {
      color: #003959; }
    .campaign-body .campaign-content .btn {
      margin-bottom: 15px; }
    .campaign-body .campaign-content .terms {
      font-size: 14px;
      margin-bottom: 0;
      color: #707070; }
      .mobile .campaign-body .campaign-content .terms {
        font-size: 12px; }
    .mobile .campaign-body .campaign-content {
      margin: 20px; }
  .campaign-body .contact-us-form label.field-title {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #2d2d2d; }
  .campaign-body .contact-us-form label {
    font-size: 14px; }
  .campaign-body .contact-us-form__fields {
    margin-top: 0px;
    margin-bottom: 30px; }
    .campaign-body .contact-us-form__fields .field-row input[type="text"] {
      width: 218px; }
  .campaign-body .field-row {
    border: none;
    padding: 0;
    width: 100%;
    margin-top: 8px; }
    .mobile .campaign-body .field-row {
      padding: 0 10px; }
    .campaign-body .field-row > div {
      float: left;
      width: 50%; }
      .mobile .campaign-body .field-row > div {
        width: 100%;
        float: none; }
  .mobile .campaign-body .field-best-time {
    margin-top: 30px; }
  .campaign-body .hidden-inputs {
    height: 0;
    overflow: hidden; }
  .campaign-body .submit-row {
    margin: 10px auto 0; }
