<style type="text/css">
.campaign-body .campaign-content h2{font-family:"FS Me Web Regular","Open Sans",Helvetica,Arial,sans-serif;font-weight:normal;}.campaign-body{background-color:#f2f2f2;padding:40px 0;}.mobile .campaign-body{padding:0 0;}.campaign-body .campaign-body-inner{width:960px;overflow:hidden;margin:0 auto;}.mobile .campaign-body .campaign-body-inner{width:100%;}.campaign-body .campaign-content{margin:0 10px;max-width:780px;}.campaign-body .campaign-content p{color:#003959;}.campaign-body .campaign-content .btn{margin-bottom:15px;}.campaign-body .campaign-content .terms{font-size:14px;margin-bottom:0;color:#707070;}.mobile .campaign-body .campaign-content .terms{font-size:12px;}.mobile .campaign-body .campaign-content{margin:20px;}.campaign-body .contact-us-form label.field-title{display:block;margin-bottom:10px;font-size:16px;color:#2d2d2d;}.campaign-body .contact-us-form label{font-size:14px;}.campaign-body .contact-us-form__fields{margin-top:0px;margin-bottom:30px;}.campaign-body .contact-us-form__fields .field-row input[type="text"]{width:218px;}.campaign-body .field-row{border:none;padding:0;width:100%;margin-top:8px;}.mobile .campaign-body .field-row{padding:0 10px;}.campaign-body .field-row>div{float:left;width:50%;}.mobile .campaign-body .field-row>div{width:100%;float:none;}.mobile .campaign-body .field-best-time{margin-top:30px;}.campaign-body .hidden-inputs{height:0;overflow:hidden;}.campaign-body .submit-row{margin:10px auto 0;}
</style>


<div class="campaign-body">

	<div class="campaign-body-inner">

		<div class="campaign-content">

			<div class="contact-us-form" data-module="components/SelectBoxes" ng-controller="BasicFormControl" ng-form="" name="emailUsForm" ng-init="submitUrl='/Services/ContactUsApi.svc/Submit';data.formId='{A12CF104-BDFC-489A-AAB1-672B47902D5E}';data.subject= 'General';data.wantCall='yes';scrollTop=true;">

				<div class="contact-us-form__fields" ng-hide="submitSuccess">

					<h2>Hi <span data-fname></span>, let's get started!</h2>

					<p>Fill in your details below and your HBF corporate account manager will call you within the next 48 hours to organise your quote for this exclusive corporate member offer.</p>

					<div class="hidden-inputs">

						<input type="text" name="fname" ng-model="data.fname" ng-required="1">
						<input type="text" name="lname" ng-model="data.lname" ng-required="1">
						<input name="name" type="text" ng-model="data.name" value="" ng-required="1">
						<input type="email" name="email" ng-model="data.email">
						<input type="text" name="category" ng-model="data.category" ng-required="1">
						<input type="text" name="memberNumber" ng-model="data.memberNumber" maxlength="8" ng-pattern="/^[0-9]{8}$/">
						<textarea style="height:120px;" name="message" ng-model="data.message"></textarea>

					</div>

					<div class="field-row">

						<div class="field-contact-number" style="">
							<label class="field-title">Contact Number *</label>
							<input type="text" name="contactNumber" ng-required="1" ng-model="data.contactNumber" ng-pattern="/^[0-9]+$/" class="ng-valid-pattern ng-dirty ng-invalid ng-invalid-required" required="required">
							<div class="field-error" ng-show="submitClicked &amp;&amp; emailUsForm.contactNumber.$error.required" style="display: none;">Please enter your contact number</div>
							<div class="field-error" ng-show="submitClicked &amp;&amp; emailUsForm.contactNumber.$error.pattern" style="display: none;">Must be a valid number</div>
						</div>

						<div class="field-best-time" ng-cloak="">
							<label class="field-title">Best time to call *</label>
							<label>
								<input type="radio" name="bestTime" ng-model="data.bestTime" value="AM" ng-required="1">AM (8am - 12pm)</label>
							<label>
								<input type="radio" name="bestTime" ng-model="data.bestTime" value="PM" ng-required="1">PM (12pm - 6pm)</label>
							<div class="field-error" ng-show="submitClicked && emailUsForm.bestTime.$error.required">Please select the best time to call</div>
						</div>

					</div>

				</div>

				<div class="" ng-show="submitFail">
					<span class="field-error">An error has occurred on the server is currently unable to send your message. Please try again later.</span>
				</div>

				<div class="" ng-show="submitClicked && emailUsForm.$invalid">
					<span class="field-error">One or more fields are invalid, please fix before submitting</span>
				</div>

				<div class="submit-row" ng-cloak="" ng-hide="submitSuccess">

					<button type="submit" class="btn btn-medium btn-default btn-campaign-green submit" ng-disabled="sending">
						<span>Submit</span>
					</button>

					<span ng-show="sending" class="inline-block">
						<img src="/global/hbf-build/images/small-hbf-loader-blue-40px.gif?v=1.0.4.142" alt="Loading..." title="Loading...">
					</span>

					<p class="terms">*Required</p>

				</div>

				<div class="" ng-show="submitSuccess">
					<h2>Thanks for your enquiry, we'll be in touch soon</h2>
					<p>We've passed your quote request onto your HBF Corporate Account Manager,<br>who will give you a call within the next two days.</p>
				</div>

			</div>

		</div>

		<script type="text/javascript">
		function getURLParameter(sParam) {
			var sPageURL = window.location.search.substring(1);
			var sURLVariables = sPageURL.split('&');
			for (var i = 0; i < sURLVariables.length; i++) {
				var sParameterName = sURLVariables[i].split('=');
				if (sParameterName[0] == sParam) {
					return decodeURIComponent(sParameterName[1]);
				}
			}
		}

		$(document).on('ready', function() {
			var fname = getURLParameter('fname') || '',
				lname = getURLParameter('lname') || '';

			$('[data-fname]').text(fname.charAt(0).toUpperCase() + fname.substring(1));

			// Populate fields from email
			$('input[name="fname"]').val(fname);
			$('input[name="lname"]').val(lname);
			$('input[name="category"]').val(getURLParameter('company'));
			$('input[name="email"]').val(getURLParameter('email'));
			$('input[name="memberNumber"]').val(getURLParameter('member'));
			$('input[name="contactNumber"]').val(getURLParameter('phone'));

			// Trigger input event to update Angular model
			$('input[name="fname"]').trigger('input');
			$('input[name="lname"]').trigger('input');
			$('input[name="category"]').trigger('input');
			$('input[name="email"]').trigger('input');
			$('input[name="memberNumber"]').trigger('input');
			$('input[name="contactNumber"]').trigger('input');

			// Concatenate/last names into name field
			$('input[name="fname"], input[name="lname"]').on('keyup', function() {
				fname = $('input[name="fname"]').val() || '';
				lname = $('input[name="lname"]').val() || '';
				$('input[name="name"]').val(fname + "/" + lname);
			}).trigger('keyup');
		});
		</script>

	</div>

</div>

</div>
