<style type="text/css">
.hero-banner h2{font-family:"FS Me Web Regular","Open Sans",Helvetica,Arial,sans-serif;font-weight:normal;}.hero-banner h3,.hero-banner sup{font-family:"FS Me Web Light","Open Sans",Helvetica,Arial,sans-serif;font-weight:lighter;}.hero-banner h1{font-family:"FS Me Web bold","Open Sans",Helvetica,Arial,sans-serif;font-weight:bold;}.hero-banner{position:relative;height:240px;overflow:hidden;background-position:center top;background-repeat:no-repeat;background-color:#ffffff;background-image:url('~/media/4E3BBBC6F140453F8DB28B60EC24B0F9.ashx') !important;color:#ffffff;}.mobile .hero-banner{min-height:225px;height:auto;-webkit-background-size:cover;background-size:cover;background-image:url('~/media/04DFCFA260674E4EA8F0DF84343F94DA.ashx') !important;}.hero-banner .cm-win{position:absolute;top:0;right:0;background-repeat:no-repeat;background-image:url("/images/win.png");}.hero-banner .container{margin:30px 0 0 0;padding:0 10px;width:auto;}.mobile .hero-banner .container{width:auto;padding:40px 20px;margin:0;}.hero-banner .container-inner{width:940px;margin:0 auto;position:relative;}.mobile .hero-banner .container-inner{width:auto;}.hero-banner h1{color:inherit;font-size:36px;line-height:1.2em;margin-bottom:10px;width:350px;}.mobile .hero-banner h1{width:80%;font-size:24px;margin-bottom:10px;}.hero-banner h2{color:inherit;font-size:20px;line-height:1.4em;margin-bottom:0px;width:350px;}.mobile .hero-banner h2{width:80%;font-size:16px;}.hero-banner h3{color:#75b92e;font-size:40px;line-height:45px;margin-top:25px;}.mobile .hero-banner h3{font-size:23px;line-height:30px;margin-top:0px;}.hero-banner sup{font-size:13px;position:relative;vertical-align:baseline;}.hero-banner .terms{color:#ffffff;font-size:12px;margin-top:5px;display:inline-block;}
</style>


<div class="container">
	<div class="container-inner">

		<h3>Corporate members<br>
				save up to 23% on<br>
				HBF car insurance
		</h3>

	</div>
</div>
