<!DOCTYPE html>
<!--[if lt IE 7]>	<html class="no-js ie ie6 lte7 lte8 lte9" lang="en"> <![endif]-->
<!--[if IE 7]>		<html class="no-js ie ie7 lte7 lte8 lte9" lang="en"> <![endif]-->
<!--[if IE 8]>		<html class="no-js ie ie8 lte8 lte9" lang="en"> <![endif]-->
<!--[if IE 9]>		<html class="no-js ie ie9 lte9" lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head id="head">

	<title>Campaign Template | HBF</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta charset="UTF-8">

	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no'>
	<meta name='msapplication-tap-highlight' content='no' />

	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/jquery.js" ></script>
	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/modernizr.js"></script>
	<link href="//f.fontdeck.com/s/css/o/TNKbvrAgkZFEHVsGXusWpY31Lzg/stage.hbfstage.tundra.com.au/36114.css" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,700" rel="stylesheet" type="text/css" />
	<link href="global/hbf-build/css/mobile.css" rel="stylesheet" type="text/css" />

	<!--[if lte IE 9 ]>
		<script type="text/javascript">var console = console || {log:function(){}, warn:function(){},error:function(){}};</script>
	<![endif]-->

	<!--[if lte IE 8 ]>
		<script type="text/javascript">if(typeof JSON!=='undefined')JSON.stringify=JSON.parse=null</script>
		<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/json2.js" ></script>
	<![endif]-->

	
	<script type="text/javascript">
		window.hbf = typeof(window.hbf) !== 'undefined' ? window.hbf : {};
		window.hbf.versionQuery = 'v=1.0.9.133';
		window.hbf.mobileDevice = true;
		window.hbf.sitecorePreviewMode = false;
		window.hbf.debugMode = false;
		window.hbf.themePath = '/global/hbf-build';
		window.hbf.angularModules = [];
		window.hbf.quoting = {};
	</script>

	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/jquery.js" ></script>
	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/angular.js" ></script>
	<script type="text/javascript" src="global/hbf-build/scripts/thirdparty/require.js"  data-main="global/hbf-build/scripts/main-desktop.js"></script>
	
	<script type="text/javascript" src="global/hbf-build/scripts/utils/load-script-sync.js" ></script>
	<script type="text/javascript" src="global/hbf-build/scripts/utils/module-activator.js" ></script>

</head>

<body ng-app="HBFApp" id="ng-app" class="campaign-landing campaign-<%= colour %> mobile">

	<form method="post" action="/campaigns?sc_device=Mobile" id="form">

		<header class="main-header campaign-header">

			<div class="header-content clearfix">
				<a class="back-home">
					<span>Back to HBF</span>
				</a>
				<a class="logo">HBF logo</a>
				<a href="tel:133423" class="telephone">133 423</a>
			</div>
		</header>

		<!--[if lte IE 8]> <script>window.hbf.loadScriptSync("thirdparty/respond");</script> <![endif]-->
		<section class="body" role="main" style="background:white !important">
			
			<div role="banner" class="hero-banner">
				<div class="component component-html">
					<!-- @include hero.html -->
				</div>
			</div>
				
			<div class="component component-html">
				<!-- @include campaign.html -->
			</div>

		</section>
		<!-- /.body -->

		<footer class="main-footer clear">

			<div class="container" data-module="" data-cols-class=".column">
				<nav class="footer-navigation" role="navigation">
					<ul class="level-1">
						<li class="column first">
							<h4>About HBF</h4>
							<ul class="level-2">
								<li class="first"><a href="/about-hbf/learn-more-about-hbf">About HBF</a>
								</li>
								<li><a href="/about-hbf/careers">Careers</a>
								</li>
								<li><a href="/about-hbf/corporate-health-plans">Corporate health plans</a>
								</li>
								<li><a href="/current-offers">Current offers</a>
								</li>
								<li><a href="/about-hbf/for-providers">Just for providers</a>
								</li>
								<li class="last"><a href="/about-hbf/media">Media</a>
								</li>
							</ul>
						</li>
						<li class="column">
							<h4>Contact</h4>
							<ul class="level-2">
								<li class="first"><a href="/contact-us/general-enquiries">Email us</a>
								</li>
								<li><a href="/contact-us/get-in-touch">Media enquiries</a>
								</li>
								<li><a href="/about-hbf/opinion-panel">Opinion Panel</a>
								</li>
								<li class="last"><a href="/contact-us/find-a-branch">Visit us</a>
								</li>
							</ul>
						</li>
						<li class="column">
							<h4>Legal</h4>
							<ul class="level-2">
								<li class="first"><a href="/about-hbf/legal/fraud-awareness">Fraud awareness</a>
								</li>
								<li><a href="/about-hbf/legal/hi-code-of-conduct">HI Code of Conduct</a>
								</li>
								<li><a href="/about-hbf/legal/privacy-policy">Privacy</a>
								</li>
								<li class="last"><a href="/about-hbf/legal/terms-of-use">Terms of Use</a>
								</li>
							</ul>
						</li>
						<li class="column last">
							<h4>Search</h4>
							<ul class="level-2">
								<li class="first"><a href="/contact-us/find-a-branch">Find a branch</a>
								</li>
								<li><a href="/health-insurance/find-a-provider">Find a provider</a>
								</li>
								<li><a href="/search">Site search</a>
								</li>
								<li class="last"><a href="/sitemap">Sitemap</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>


			<div class="footer-social">
				<nav class="container">
					<ul>
						<li>
							<a href="https://www.facebook.com/HBFWA" target="_blank" class="facebook">
								<span>Join us on Facebook</span>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/HBF_WA" target="_blank" class="twitter">
								<span>Visit us on Twitter</span>
							</a>
						</li>
						<li>
							<a href="http://instagram.com/hbf_health" target="_blank" class="instagram">
								<span>Instagram photos</span>
							</a>
						</li>
						<li>
							<a href="http://www.youtube.com/user/HBFPerth" target="_blank" class="youtube">
								<span>YouTube channel</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>


			<div class="disclaimer">
				<div class="container">

					<h6>Terms and Conditions</h6>
					<div class="disclaimer-custom">
						<p>
						</p>
					</div>
					<div class="disclaimer-global">
						<p></p>
					</div>

					<div class="copyright">
						<p>Our website has been designed to make selecting and using private health insurance clear and simple, <a href="http://survey.wcfs.com.au/hbf_customer_experience_h_V2/hbf_customer_experienceh.htm">let us know</a> how we can keep improving what we do.
							<br />&copy;2013 Copyright HBF Health Limited Australia ABN 11 126 884 786 and its subsidiaries.</p>
					</div>
				</div>
			</div>
			<!-- /.disclaimer -->


			<div class="links">

				<a class="view-full-website" href="/campaigns/car-insurance-low-km?sc_device=Desktop&persist=true">View Full Website</a>

				<a href="#" class="btn btn-default back-to-top">Back to top</a>
			</div>

		</footer>
		<!-- /.main-footer -->

		<!-- <script type="text/javascript">hbf.loadScriptSync('angular/hbf-concatenated');</script> -->
		<script type="text/javascript" src="global/hbf-build/scripts/angular/hbf-concatenated.js" >

	</form>

	<!-- @ifdef LIVE_RELOAD -->
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	<!-- @endif -->

</body>

</html>